In [1]:
%matplotlib inline
from numpy.random import RandomState
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
datos = pd.read_csv('train.csv')

In [3]:
datos.head()

     video_id        time      event           event_attributes
0  1606b0e6_0  200.265822      start                        NaN
1  1606b0e6_0  201.150000  challenge     ['ball_action_forced']
2  1606b0e6_0  202.765822        end                        NaN
3  1606b0e6_0  210.124111      start                        NaN
4  1606b0e6_0  210.870000  challenge  ['opponent_dispossessed']

In [4]:
datos.head(11218)

         video_id         time      event           event_attributes
0      1606b0e6_0   200.265822      start                        NaN
1      1606b0e6_0   201.150000  challenge     ['ball_action_forced']
2      1606b0e6_0   202.765822        end                        NaN
3      1606b0e6_0   210.124111      start                        NaN
4      1606b0e6_0   210.870000  challenge  ['opponent_dispossessed']
...           ...          ...        ...                        ...
11213  ecf251d4_0  3056.587000  challenge  ['opponent_dispossessed']
11214  ecf251d4_0  3058.072895        end                        NaN
11215  ecf251d4_0  3068.280519      start                        NaN
11216  ecf251d4_0  3069.547000    throwin                   ['pass']
11217  ecf251d4_0  3070.780519        end                        NaN

[11218 rows x 4 columns]

In [5]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11218 entries, 0 to 11217
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   video_id          11218 non-null  object
 1   time              11218 non-null  float64
 2   event             11218 non-null  object
 3   event_attributes  4382 non-null   object
dtypes: float64(1), object(3)
memory usage: 219.2+ KB